<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
    <h4>Hi,</h4>
    <p>This is a report regarding your resume Parsing in a month. Below is the details related to your activiy</p>
    <p>Your total number of parsed resume: <span th:text="${MDetailsOfClientReport.getNumberOfParsedResume()}"></span></p>
    <p>Your total number of resume passed in ATS: <span th:text="${MDetailsOfClientReport.getNumberOfResumePassedATS()}"></span></p>
</body>
</html>