<!DOCTYPE html>
<html html xmlns:th="https://thymeleaf.org">
  <head>
	  <style>
	    body{
			margin:auto;
		}
		table{
			margin:auto;
		}
		tr,td,th{
			text-align: center;
			overflow: hidden;
			width:10px;
			font-size:10px;
		}
		#headingBox{
			height:50px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: cadetblue;
			color:aliceblue;
			
		}
	  </style>
  </head>
  <body>
	  <div id="headingBox"><h1>Report of client usage on particular date</h1></div>
  <table>
	  <tr>
		  <th>UserId</th>
		  <th>fileName</th>
		  <th>subUserId</th>
		  <th>parseDate</th>
		  <th>Status</th>
		  <th>FileExtension</th>
		  <th>PageCount</th>
		  <th>ParsingTime</th>
	  </tr>
	  <tr th:each="resumeLogs:${listOfResumeLogs}">
		  <td th:text="${resumeLogs.getUserId()}"></td>
		  <td th:text="${resumeLogs.getFileName()}"></td>
		  <td th:text="${resumeLogs.getSubUserId()}"></td>
		  <td th:text="${resumeLogs.getParseDate()}"></td>
		  <td th:text="${resumeLogs.getStatus()}"></td>
		  <td th:text="${resumeLogs.getFileExtension()}"></td>
		  <td th:text="${resumeLogs.getPageCount()}"></td>
		  <td th:text="${resumeLogs.getParsingTime()}"></td>
		  
	  </tr>
  </table>
  </body>
</html>